annotated-types==0.7.0
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
dotenv==0.9.9
idna==3.10
jobspy==0.29.0
markdownify==0.13.1
mypy==1.15.0
mypy-extensions==1.0.0
numpy==1.26.3
pandas==2.2.3
pandas-stubs==2.2.3.250308
pydantic==2.10.6
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jobspy==1.1.77
pytz==2025.1
redis==5.2.1
regex==2024.11.6
requests==2.32.3
six==1.17.0
soupsieve==2.6
tls-client==1.0.1
types-pytz==2025.1.0.20250318
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
